VITE_API_URL=https://server.albecker.eu  # https://server.albecker.eu or http://localhost:8000 for local deployment
FRONTEND_PORT_INTERNAL=80  # 5173: dev, 80: prod
DOCKERFILE=Dockerfile.dev  # Dockerfile.dev || Dockerfile.prod